.contenedor {
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}
header {
  color: #D8D8D8;
  font-size: 20px;
}
button {
  float: right;
 top: auto;
}
.centrado {
  text-align: center;
}
