<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacta</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <div id="container">
    <div id="topLine"></div>
    <div id="menuPan">
      <ul class="menu">
        <li class="1"><a href="index.html">Pagina principal</a></li>
        <li class="line"></li>
        <li class="2"><a href="nosotros.html">Acerca de nosotros</a></li>
        <li class="line"></li>
        <li class="5"><a href="contacta.html">Contacto</a></li>
      </ul>
    </div>
    <div id="header"></div>
      <p>Contactanos<p>
    <div id="content">
   <div id="centrar"
      <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  	<div class="row">
  		<label for="name">Tu nombre:</label><br />
  		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  	</div>
  	<div class="row">
  		<label for="email">Tu email:</label><br />
  		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
  	</div>
  	<div class="row">
  		<label for="message">Tu mensaje:</label><br />
  		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
  	</div>
  	 <input id="submit_button" type="submit" value="Enviar email">
  </div>
</div>
</div>
<div id="footer">
  <p><a href="#">Pagina principal</a> | <a href="#">Acerca de nosotros</a> | <a href="#">Ramos de flores</a> | <a href="#">Especiales</a> | <a href="#">Nuevos</a> | <a href="#">Contacto</a><br/>
    <p>Copyright &copy; 2016 | Design by Albert Argudo Cortes</p>
</div>
</body>
<script src="js/bundle.js"></script>
</html>
