<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen-Albert</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row">
    <div class="small-12 columns">
      <ul class="menu">
        <li class="1"><a href="#">Home</a></li>
        <li class="2"><a href="#">Page</a></li>
        <li class="3"><a href="#">Grid</a></li>
        <li class="4"><a href="#">Simple</a></li>
      </ul>
        </div>
    </div>
    <div class="header">
<img src="images/llibreta.jpg">
    </div>

    <div class="Welcome">
      <h3>Welcome</h3>
      <p>
        Content on this page is for presentation purposes only.Lorem Ipsum is simply dummy text of the printing and typeseting industry.Lorem Ipsum has been the industry standard dummy text ever since the 1500s , when an unknown printer took a gallery of type and scrambled it to make a type specimen book. Loren Ipsum dolor sit amet , consectetur adispicing elit.
      </p>
    </div>
    <div class="izquierda">
      <h2>1/3 Column</h2>
      <img src="images/img_buida.png">
      <p>
        Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
      </p>
    </div>
    <div class="medio">
      <h2>1/3 Column</h2>
      <img src="images/img_buida.png">
        <p>
          Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
        </p>
    </div>
    <div class="derecha">
          <h2>1/3 Column</h2>
          <img src="images/img_buida.png">
          <p>
            Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
          </p>
    </div>
    <footer>
    <div class="izquierda2">
      <h3>About Company</h3>
      <p>
        Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
      </p>
    </div>
    <div class="medio2">
      <h3>Recent Blog Posts</h3>
      <p>
        Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
      </p>
    </div>
    <div class="derecha2">
      <h3>Sample Footer content</h3>
      <p>
        Lorem IPsum is simply dummy text of the printing and typesetting industry. Lorem ipsum sit amet , consectetur adiscing elit.
      </p>
    </div>
  <script src="js/bundle.js"></script>
<footer>
    <p>
      Copyright 2013 Your Company. All Rights Reserved.
    </p>
</footer>
</body>

</html>
